
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.fadeIn-enter {
  opacity: 0.01;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeIn-leave {
  opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


form ol {
  counter-reset: item;
  margin-left:-40px;
}

 form li {
  display: block;
  margin-bottom: 2em;
  font-weight: bold;
  font-weight: 300;
  font-size: 30px;
}

 form li:before {
   font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  content: counter(item) " → ";
  counter-increment: item;
  margin-left: -2.5em;
  font-weight: bold !important;
  font-size: 14px;}


  nav  a:hover{
    text-decoration: none;
  }

  a:focus{
    text-decoration: none;
  }

  nav borderHover a:hover{
    border-style: solid;
    border-width: 2px !important;
    border-color: black !important;
    border-radius: 6px;
  }


  input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{
    visibility: hidden !important;
}

input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type="file"] + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

input[type="file"] + label * {
	pointer-events: none;
}

.loginDropDown{
  position: absolute;
  top: 58px;
  right: 135px;
  padding: 20px;
  width: 300px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}


.loginDropDown:after {
  position: absolute;
top: -12px;
right: 133px;
display: inline-block;
border-right: 15px solid transparent;
border-bottom: 15px solid #ffffff;
border-left: 15px solid transparent;
content: '';
}

.loginDropDown:before {
  content: '';
  top: -10px;
  right: 46%;
  position: absolute;
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
  /* top: -12px; */
  z-index: -1;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.home-bg{
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.home-bg video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.dark-overlay{
   top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
  }
