.messages{
  max-height: 400px;
  max-width: 600px;
  min-width: 320px;
  min-height: 250px;
  overflow: scroll;
}

.timestamp{
  text-align: center;
  margin: 20px;
}
.message{
  display: flex;
  align-items: flex-end;
}
.message-wrapper{
  margin-bottom: 10px;
}

.message.send{
  flex-direction: row-reverse;
}
.message > *{
  display: inline-block;
  vertical-align: bottom;  
}
.speech-bubble{
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  padding: 14px;  
  font-weight: 600;
  background: #E6E7ED;
  position: relative;
  margin-left: 10px;
  max-width: 75%;
  text-align: left;
  box-shadow: 0px 2px 15px 0 rgba(121, 121, 121, 0.2);
}
.send .speech-bubble{
  text-align: right;
  color: white;
  background: #03d1ff;
  margin-left: 0px;
  margin-right: 10px;
  white-space: pre-wrap;
}


.message .rounded{
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.message .rounded img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.chat textarea{
  width: 100%;
  -webkit-appearance: none;
  border-radius: 10px;
  outline: none !important;
  padding: 10px;
  min-height: 3em;
  border-color: rgb(202, 202, 202);
  margin: 10px 0px;
  resize: none;
  padding-right: 47px;
  margin-top: 0px;
}
.chat form{
  position: relative;
}
.chat button{
  position: absolute;
  right: 2px;
  top: 1px;
  border: none;
  font-weight: 600;
  height: 78%;
  border-left: 1px solid #ddd;
}

.popup .chat {
  margin-bottom: -15px;
}


.typing-indicator {
  will-change: transform;
  border-radius: 50px;  
  position: relative;
  animation: 2s bulge infinite ease-out;
}

.typing-indicator span {
  height: 7px;
  width: 7px;
  float: left;
  margin: 0 1px;
  background-color: #9E9EA1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
.typing-indicator span:nth-child(1) {
  animation: 1s blink infinite .3333s;
}
.typing-indicator span:nth-child(2) {
  animation: 1s blink infinite .6666s;
}
.typing-indicator span:nth-child(3) {
  animation: 1s blink infinite .9999s;
}

.message-info{
  text-align: right;
  margin-right: 50px;
  margin-top: 4px;  
  font-size: 0.9em;
  color: #8998a9;
}
.message-info svg{
  margin-right: 3px;
}