
@font-face {
	font-family: 'SourceSansPro-Semibold';
	src: url('../assets/fonts/SourceSansPro-Semibold.ttf');
	src: local('☺'), url('../assets/fonts/SourceSansPro-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'SourceSansPro-Regular';
	src: url('../assets/fonts/SourceSansPro-Regular.ttf');
	src: local('☺'), url('../assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'SourceSansPro-Bold';
	src: url('../assets/fonts/SourceSansPro-Bold.ttf');
	src: local('☺'), url('../assets/fonts/SourceSansPro-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'SourceSansPro-Light';
	src: url('../assets/fonts/SourceSansPro-Light.ttf');
	src: local('☺'), url('../assets/fonts/SourceSansPro-Light.ttf') format('truetype');
}

/* Ostrich Sans Dashed */

@font-face {
	font-family: 'Ostrich Sans Dashed';
	src: url('../assets/fonts/ostrich-sans-dashed.eot');
	src: local('☺'), url('../assets/fonts/ostrich-sans-dashed.woff') format('woff'), url('../assets/fonts/ostrich-sans-dashed.ttf') format('truetype'), url('../assets/fonts/ostrich-sans-dashed.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

/* Ostrich Sans Rounded */

@font-face {
	font-family: 'Ostrich Sans Rounded';
	src: url('../assets/fonts/ostrich-sans-rounded.eot');
	src: local('☺'), url('../assets/fonts/ostrich-sans-rounded.woff') format('woff'), url('../assets/fonts/ostrich-sans-rounded.ttf') format('truetype'), url('../assets/fonts/ostrich-sans-rounded.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

/* Ostrich Sans Inline */

@font-face {
	font-family: 'Ostrich Sans Inline';
	src: url('../assets/fonts/ostrich-sans-inline-regular.eot');
	src: local('☺'), url('../assets/fonts/ostrich-sans-inline-regular.woff') format('woff'), url('../assets/fonts/ostrich-sans-inline-regular.ttf') format('truetype'), url('../assets/fonts/ostrich-sans-inline-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans Inline';
	src: url('../assets/fonts/ostrich-sans-inline-italic.eot');
	src: local('☺'), url('../assets/fonts/ostrich-sans-inline-italic.woff') format('woff'), url('../assets/fonts/ostrich-sans-inline-italic.ttf') format('truetype'), url('../assets/fonts/ostrich-sans-inline-italic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}
