@import "../assets/css/bootstrap.min.css";
@import "./nouislider.css";
@import "./fonts.css";


html{
}

body {
  margin: 0;
  padding: 0;
  font-family: AvenirNext-Regular;
  color: #32325D;
   -webkit-font-smoothing: antialiased;
   overflow-y: auto;
}

header{
  height: 740px;
  padding-top: 140px;
  color: #FFFFFF;
}

footer{
    border-top: 2px solid rgba(207,215,223,.25);
    padding: 65px 0 55px;
    color: #8898aa;
    line-height: 30px;
    font-size: 15px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;

}
h4 svg{
  margin-bottom: -3px;
      margin-right: 10px;
}
h4 path{
    fill: #32325D;
}

h1{
  font-family: SourceSansPro-SemiBold;
  font-size: 42px;
  margin-left: -3px;
  margin-bottom: 15px;
}
h2{
font-family: SourceSansPro-Semibold;
font-size: 22px;
letter-spacing: 2px;
line-height: 30px;
}

h4{
  font-family: SourceSansPro-Semibold;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .025em;
  margin: 0 0 5px;
}
p{
  font-family: SourceSansPro-Regular;
  font-size: 17px;
  letter-spacing: 0.41px;
  line-height: 28px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
}
a{
  text-decoration: none;
  color: #FFFFFF;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
input{
  font-family: AvenirNext-Regular !important;
  font-weight: normal;
}
input:disabled,
.text-field.disabled > div{
  cursor: default !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

li{
  text-align: -webkit-match-parent;
}
section{
  display: inline-block;
}

.container{
  width: 990px;
  padding: 0;
  margin: auto;
}



.row{
  display: flex;
  position: relative;
}

.nav-container{
  display: flex;
align-items: center;
flex-direction: column;
    position: relative;
width: 990px;
margin: auto;
}

.navigation{
     z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
      height: 80px;
      align-items: center;
      position: absolute;
    width: inherit;
}


.mobileMenu a{
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #31DAFF;
  transition: color .1s;
}
.buttonFixed{
  position: fixed;
  z-index: 99;
    top: -75px;
    right: 15px;
}
.buttonFixed .mobileMenuButton{
    z-index: 100;
    background: #31DAFF;
    border-radius: 50%;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,.25)!important;
    transform: translateY(90px);
    transition: transform 0.25s ease;
}

.mobileMenu{
  position: fixed;
  background: white;
  width: 92vw;
  margin-top: 4vw;
  z-index: 101;
  margin-left: 4vw;
  pointer-events: none;
  transform: rotate3d(1,1,0,-15deg);
  transform-origin: 100% 0;
  opacity: 0;
  will-change: transform,opacity,height;
  transition-property: transform,opacity,height;
  transition-duration: .35s;
  border-radius: 6px;
  box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
}
.mobileMenu .profilePicture{
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  width: 36vw;
  height: 36vw;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 20px;
}
.mobileMenu.active{
  opacity: 1;
  transform: none;
  pointer-events: all;
}
.menuArea{
  height: 100%;
  padding: 20px;
}
.mobileMenu .menu{
  /*height: 100%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.mobileMenu .menu li{
  padding-top: 10px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
    font-size: 6vw;
  font-family: 'SourceSansPro-SemiBold';
}




.mobileMenuButton{
  display: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: relative;
}
.mobileMenuButton:hover {
    color: hsla(0,0%,100%,.5);
}
.mobileMenuButton h2,
.mobileMenuButton h2:before,
.mobileMenuButton h2:after{
  position: absolute;
  width: 24px;
  height: 3px;
  border-radius: 1px;
  background: white;
}
.mobileMenuButton h2{
  font-size: 0;
    left: 13px;
    top: 23px;
}
.mobileMenuButton h2:before,
.mobileMenuButton h2:after{
  content: '';
  left: 0;
}
.mobileMenuButton h2:before{
  top: -9px;
}
.mobileMenuButton h2:after{
  top: 9px;
}

.popupCloseButton {
    position: absolute;
    right: 0;
    top: 0;
    width: 51px;
    height: 51px;
    font-size: 0 !important;
    cursor: pointer;
}
.popupCloseButton:before,
.popupCloseButton:after{
    content: '';
    position: absolute;
    background: #31DAFF;
    border-radius: 1px;
    left: 14px;
    right: 14px;
    top: 24px;
    height: 3px;
    transform: rotate(45deg);
    transition: background .1s;
}
.popupCloseButton:after{
  transform: rotate(-45deg);
}
.mobileMenu .profileSummary{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileMenu .profileInfo{
  width: 100%;
    padding-bottom: 0px;
}

.mobileMenu .menu ul {
      column-count: 2;
      width: 100%;
}







.main-menu{
   list-style-type: none;
    padding: 0;
    float: right;
    display: flex;
    margin: 0px;
    height: 80px;
align-items: center;
}

.main-menu li{
    text-align: right;
    margin-left: 30px;
    position: relative;
}

.main-menu li:last-child{
  margin-left: 30px;
}

.main-menu a{
  cursor: pointer;
  /* Login: */
  font-family: "SourceSansPro-Semibold";
  font-size: 17px;
  color: #FFFFFF;
  letter-spacing: 0.3px;
}

.logo svg{
  fill: #FFFFFF;
}
.location_terms .main-menu a{
  color: #32325D;
}
.location_terms .logo svg{
  fill: #32325D;
}
.location_terms nav {
  border-bottom: 1px solid #F6F9FC;
}

.main-menu a:hover{
}

.copyright{
  color: #CFD7DF;
  font-family: SourceSansPro-Regular;
}

.footer-columns{
  display: flex;
  text-align: center;
}
.footer-columns > div{
  width: 150px;
}

footer a{
font-family: SourceSansPro-Regular;
font-size: 15px;
color: #8998AA;
letter-spacing: 0.75px;
margin: auto;
}
footer .social a{
  font-family: SourceSansPro-Bold;
}
footer h4{
  line-height: 30px;
}
footer a:hover{
color:  #32325D !important;
fill: #32325D !important;
cursor: pointer;
}
footer .social svg{
  margin-right: 7px;
  margin-bottom: -1px;
}

.footer-text{
    margin-top: 300px;
    margin-bottom: -90px;
    display: flex;
    align-items:center;
  pointer-events: all;
}

#preFooter{
  position: relative;
  padding: 50px 0;
  height: 229px;
  width: 100%;
  margin-top: -80px;
}
#preFooterPseudo:before{
  content: '';
position: absolute;
left: 0;
right: 0;
top: -100px;
z-index: 0;
height: 2000px;
background-color: inherit;
-webkit-transform: skew(0,-12deg);
transform: skew(0,-12deg);
}
#preFooterPseudo.noSkew:before{
  content: '';
position: absolute;
left: 0;
right: 0;
top: -100px;
z-index: 0;
height: 2000px;
background-color: inherit;
transform: none;
top: 0;
}
#preFooter.noSkew{
  margin-top: 0;
}
#preFooter .action-title {
  margin: .75em 0;
  font-family: SourceSansPro-Regular;
  font-size: 30px;
  color: #32325D;
  letter-spacing: 0.91px;
}
#preFooter .action-title  span{
  display: block;
}
#preFooter .action-buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}



input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.fadeIn-enter {
  opacity: 0.01;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeIn-leave {
  opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


form ol {
  counter-reset: item;
  margin-left:-40px;
}

form a{
  color: #32325D;
}

 .signup form li {
  display: block;
  margin-bottom: 3em;
  font-size: 30px;
}

 .signup form li:before {
   font-family: AvenirNext-Medium, sans-serif;
  display: inline-block;
  content: counter(item) " → ";
  counter-increment: item;
  margin-left: -2.5em;
  font-weight: bold !important;
  font-size: 14px;}


  nav  a:hover{
    text-decoration: none;
  }

  a:focus{
    text-decoration: none;
  }

  nav borderHover a:hover{
    border-style: solid;
    border-width: 2px !important;
    border-color: black !important;
    border-radius: 6px;
  }

  .no-padding{
    padding: 0px !important;
  }





  input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{
    visibility: hidden !important;
}

input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type="file"] + label {
    width: 100%;
    height: 100%;
    font-size: 20px;
    /* 20px */
    font-family: Avenir-Medium;
    text-overflow: ellipsis;
    white-space: normal;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

input[type="file"] + label * {
	pointer-events: none;
}

.loginDropDown{
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  width: 300px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.login button{
  width: 100%;
}
.login button.submit:hover{
}

.login .errors{
  text-align: left;
  margin-top: 0;
}
.login > p {
      color: #BBBBBB;
}
.login .errors p {
  font-size: 14px;
      margin-top: 10px;
}
.login .text-field{
  margin-top: 20px;
}
.login .text-field:last-child{
      margin-bottom: 20px;
}
.login button:first-child{
  margin-bottom: 10px;
}

.social-login form .button-wrapper:last-child,
.social-signup tr td:nth-child(2) .button-wrapper{
    border-color: #ff7700 !important;
    color:  #ff7700 !important;
    box-shadow:  #ff7700 0px 0px 20px 0px !important;
    background-color:  #ff7700 !important;
}

.social-login form .button-wrapper:first-child,
.social-signup tr td:first-child .button-wrapper{
    border-color: #3b5998 !important;
    color:  #3b5998 !important;
    box-shadow:  #3b5998 0px 0px 20px 0px !important;
    background-color:  #3b5998 !important;
}



.login p{
  margin-bottom: 10px;
}

.loginDropDown:after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  display: inline-block;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ffffff;
  border-left: 15px solid transparent;
  content: '';
}


.home-bg{
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.home-bg video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.dark-overlay{
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
  }

  .hero-text{
    color: white;
    font-size: 24px;
    line-height: 52px;
    font-weight: 300;
    text-shadow: 2px 2px 24px #000;
  }

  .hero-text span{
    font-weight: bold;
    font-size: 42px;
  }






.first-card {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 0.8s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.8s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.8s;
}

.second-card {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 1s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 1s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}
.third-card {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 1.2s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 1.2s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1.2s;
}

@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-100px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(-100px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropHeader {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes fadeBlack {
    0% {
        background-color: rgba(0,0,0,0);

    }
    100% {
      background-color: rgba(0,0,0,0.4);
    }
}

@keyframes growIn {
    0% {
      height: 40px;

    }
    100% {
      height: inherit;
    }
}

@keyframes grow=ut {
    0% {
      height: inherit;

    }
    100% {
      height: 40px;
    }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#content{

}
#content > div{
  overflow-y: hidden;
}

.collapsible{
  position: relative;
  transition: all 0.4s;
  transition-delay: overflow 0.5s;
  overflow: hidden;
  /* fix for overflow Hidden */
  margin: 0px -20px;
  padding: 0px 20px;
  /* fix for overflow Hidden */

  padding-bottom: 20px;
}

.open .collapsible{
  overflow: visible;
}

.collapsible.active{
  max-height: 1000px;
  transition-delay: 0.4s;
}


.collapsible.collapsed{
  max-height: 50px;
}


.filter-background{
  /*animationName: 'fadeBlack',
  animationIterationCount: '1',
  animationTimingFunction: 'ease-out',
  animationDuration: '0.5s',*/
  background-color: rgba(0,0,0,0.4);
  -webkit-backdrop-filter: blur(2px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s;
}
.filter-background.active{
  opacity: 1;
  pointer-events: auto;;
}

.user-header{
  z-index: 2;
  padding-top: 92px;
  height: 315px;
  width: 100%;
}
.user-header.fixed{
  top: -260px;
  position: fixed;
}
.user-header.fixed + div{
  margin-top: 335px;
}

.user-header.fixed .user-card-wrapper{
    transform: translate3d(0,-100px,0);
}
.user-card-picture-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  pointer-events: none;
}
.user-card-picture-overlay svg{
  height: 35px;
}

.user-header.fixed .user-card-picture-overlay{
    opacity: 1;
}
.user-header.fixed .user-header-img-overlay{
    opacity: 1;
}
.user-header.fixed .user-card-picture,
.user-header.fixed .user-card-picture-blurred,
.user-header.fixed input[type="file"] + label{
opacity: 0;
pointer-events: none;
}
#profile-picture-upload{
  position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
        justify-content: center;
    z-index: 2;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s;
}


.user-header-img-wrapper{
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 360px;
  width: 100%;
  z-index: -1;
}
.user-header-img-wrapper img{
  position: absolute;
      top: 55%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background-size: cover;
}
.user-header-img-overlay{
  width: 100%;
  height: 100%;
  background-color: rgb(0,188,212);
  opacity: 0;
  transition: opacity 0.3s;
}
.user-header nav{
  position: absolute;
      bottom: 10px;
      width: 100%;
      margin: 0;
    }

.user-name{
  color: white;
  line-height: 35px;
  margin-bottom: 5px;
  font-weight: 100;
}
.user-location h2{
  font-family: SourceSansPro-Regular;
font-size: 28px;
letter-spacing: normal;
}
.header-divider{
  border-bottom: 2px white solid;

position: absolute;
bottom: 50px;
width: 100%;
}
.user-card-wrapper{
  position: absolute;
  width: 100%;
  z-index: 1;
  padding-left: 15px;
  pointer-events: none;
  transition: transform 0.3s ease;
}
.card.user-card{
  width: 280px;
  pointer-events: all;
  background: transparent;
  box-shadow: 0 4px 60px 0 rgba(60,50,94,0.11);
}

.fixed .user-card-text{
  box-shadow: 0 4px 60px 0 rgba(60,50,94,0.11);
}
.user-card-picture,
.user-card-picture-blurred{
width: 100%;
height: 100%;
position: absolute;
z-index: 1;
  background-position: center bottom;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
/* overlay color: */
background-blend-mode: soft-light;
transition: opacity 0.3s ease;
}
.user-card-picture-blurred{
  filter: blur(10px);
  z-index: 0;
  transform: scale(1.1);
}
.user-card-picture-wrapper{
  overflow: hidden;
}
.user-card-picture-wrapper:hover .user-card-picture,
.user-card-picture-wrapper.loading .user-card-picture{
  opacity: 0;
}
.user-card-picture-wrapper:hover #profile-picture-upload,
.user-card-picture-wrapper.loading #profile-picture-upload{
  opacity: 1;
}

.fixed .user-card{
  box-shadow: none;
}
.user-card-text{
  position: relative;
  z-index: 0;
  background: white;
  transition: transform 0.5s, opacity 0.5s;

      padding: 20px;
        color: #707070;

}
.user-card-text.hide{
  transition: transform 0.5s, opacity 0.5s;
  display: block !important;
  transform: translateY(-300px);
  opacity: 0;
  z-index: -1;

}
.event-information .context-actions{
  width: 200px;
  position: absolute;

}
.event-information > div{
  width: 100%;
}

.event-information .context-actions button{
  margin-bottom: 15px;
  margin-top: 0px;
}
.user-header.fixed + div .event-information .context-actions{
  position: fixed;
    top: 65px;
}
.event-card-wrapper{
  display: flex;
  justify-content: center;
}

.event-card-text{
        color: #707070;
}


.user-card-text p,
.event-card-text p{

}
.user-card-info,
.event-card-info{
  border-bottom: 2px solid #F6F9FC;
    padding-top: 20px;
    border-top: 2px solid #F6F9FC;
    margin-bottom: 10px;
}
.user-card-fact,
.event-card-fact,
.review-card-fact,
.user-card-fact a,
.event-card-fact a,
.review-card-fact a{
    display: flex;
    justify-content: space-between;
    color: #32325D;
    text-align: right;
    margin-bottom: 10px;
}
.user-card-fact:last-child,
.event-card-fact:last-child,
.review-card-fact:last-child{
}

.user-card-fact p,
.review-card-fact p,
.event-card-fact p{
    font-size: 15px;
    color: #8998AA;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 20px;
}
.user-card-fact:last-child p,
.event-card-fact:last-child p{
}
.user-card-about,
.event-card-about,
.event-card-status{
  margin-bottom: 20px;
  line-height: 25px;
  font-weight: 100;
}
.user-card-genres,
.event-card-genres{
      line-height: 25px;
      font-weight: 100;
}
.navLink,
.navLink:after{
  position: relative;
  transition: all 0.15s ease-out;
  display: block;
}
.userNavigation .navLink.active{
  transform: translateY(-3px);
}
.userNavigation .navLink:not(.active):hover{
  transform: translateY(-3px);
  height: 30px;
}
.back-button .navLink:hover{
  transform: none !important;
  height: auto !important;
}

.userNavigation .navLink.active:after {
  transform: translateX(-50%);
  opacity: 1;
}
.userNavigation .navLink:after{
  position: absolute;
  top: 33px;
  left: 50%;
  display: inline-block;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #FFFFFF;
  border-left: 13px solid transparent;
  content: '';
  transform: translateX(-50%) translateY(20px);
  opacity: 0;
}

.userNavigation .navLink:not(.active):hover:after{
  transform: translateX(-50%) translateY(5px);
  opacity: 1;
}

.userNavigation a{
font-family: SourceSansPro-Semibold;
font-size: 22px;
color: #FFFFFF;
line-height: 33px;
text-transform: capitalize;
}

.review-card-info{
  padding-top: 20px;
  border-bottom: 2px solid rgb(246, 249, 252);
  border-top: 2px solid rgb(246, 249, 252);
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.review-card-fact, .pay-fact{
    display: flex;
    justify-content: space-between;
}

.pay-form{
  display: flex;
}
.pay-info{
  width: 180px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pay-fact{
  border-bottom: 1px solid rgb(246, 249, 252);
  margin-top: 10px;
      padding-bottom: 10px;
      align-items: center;

}
.pay-fact p{
  margin: 0px;
}

.review-card-fact:last-child p{
    margin-bottom: 0;
}
.action-buttons{
  display: flex;
  justify-content: flex-start;
}
.action-buttons > div,
.action-buttons > a{
  margin-left: 20px;
}
.text-element-wrapper{
margin-bottom: 50px;
}

.event-card{
display: flex;
justify-content: space-between;
margin-bottom: 20px;
border: 2px solid #BBBBBB;
color: #32325D;
border-radius: 6px;
padding: 20px;
transition: all 0.1s ease-in-out;

}
.event-card:hover{
  border-color: inherit;
}

.event-right{
  text-align: right;
      margin-top: 16px;
}
.event, .gig{
  padding: 35px 10px;
  margin-bottom: 40px;
  display: flex;
}

.gig > div{
  width: 100%;
}

.event-info-card-wrapper{
  width: 240px;
  position: relative;
}
.event-name{
font-size: 30px;
line-height: 30px;
margin-bottom: 5px;
font-weight: 100;
}
.event-location{
  fill: #32325D;
font-size: 15px;
font-weight: 100;
}
.event-top{
  display: flex;
justify-content: space-between;
padding-bottom: 10px;
align-items: flex-end;
border-bottom: 2px solid #eee;
}

[disabled] .noUi-handle
{
  border: 7px solid rgb(173, 175, 175) !important;
  width: 14px !important;
  height: 14px !important;
  left: -7px;
  top: -6px;
}

.event-info-action-buttons{
  display: flex;
}

.event-info-action-buttons div{
  margin-right: 20px;
}
.event-info-action-buttons div:last-child{
  margin-right: 0px;
}

.collapsible-container .divider{
  border-bottom: 2px solid #eee;
  width: 100%;
}

.collapsible .text-element-wrapper{
  margin-bottom: 30px;
}
.collapsible .text-element-wrapper:last-child{
  margin-bottom: 0px;
}

.form-error{
  color: rgb(244, 67, 54);
  margin-top: 10px;
}

svg{
  overflow: visible !important;
}
.rating{
  display: flex;
}
.ratingStar{
  padding-left: 3px;
  padding-right: 3px;
}
.rating .ratingStar:first-child{
  padding-left:  0px;
}
.ratingStar{
  transition: transform 0.1s ease;
}

.ratingStar.active:active{
  transform: translateX(0px) translateY(0px) scale(1.4);
}

button{
  background-color: transparent;
}

.collapsible-arrow{
   transition: all ease-out .15s!important;
   transform: rotate(180deg);
}

.collapsible.collapsed>div:hover .collapsible-arrow{
  margin-top: 3px;
  opacity: 0.8;
}

.collapsible.active  .collapsible-arrow{
   transform: rotate(0deg);
}

.offer-card {
  color: #32325D;
  fill: #32325D;
  margin-bottom: 20px;
}
.offer-card .user-card-info{
  padding-bottom: 15px;
   padding-top: 15px;
   margin-bottom: 15px;
}
.offer-card .user-card-info a,
.offer-card .user-card-info p{
  margin: 0;
      line-height: 1em;
}



.offer-card h4{
  font-family: AvenirNext-Regular;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 15px;
  margin-top: 6px;
}
.dj-location{
  margin-bottom: 8px;
  font-size: 12px;
}

.user-bio,
.cancelation-policy{
  overflow: scroll;
max-height: 150px;
padding-top: 15px;
border-top: 2px solid #F6F9FC;
margin-top: 15px;
margin-bottom: 15px;
}

.lock{
float: left;
margin-right: 5px;
}

.popup{
  transform: rotate3d(1,1,0,-15deg);
  transform-origin: 100% 0;
  opacity: 0;
  will-change: transform,opacity;
  transition-property: transform,opacity;
  transition-duration: .35s;
  pointer-events: none;
}
.popup.active{
  transform: none;
  opacity: 1;
  pointer-events: auto;
}

.info-popup{
  float: right;
  margin-top: 7px;
  margin-left: 5px;
  position: relative;
}
.info-popup .info{
  position: absolute;
  visibility: hidden;
  width: 140px;
  border: 1px solid #eee;
  transform: translatex(-50%);
  left: 50%;
  bottom: 30px;
  background: white;
  padding: 5px;
  text-align: center;
  z-index: 1;
}
.info-popup .info:before {
  content: '';
  bottom: 0px;
  position: absolute;
  left: 50%;
  transform:  translatex(-50%)  translatey(50%) rotate(45deg);
  width: 15px;
  height: 15px;
  /* top: -12px; */
  z-index: -1;
  background-color: white;
  box-shadow: 1px 1px 0px #eee;

}

.info-popup:hover .info{
  visibility: visible;
}



#stripes {
  position: absolute;
  z-index: -1;
  top: -20px;
  width: 100%;
  height: 760px;
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  background: linear-gradient(330deg, #B031FF 0%, #B031FF 5%, #00D1FF 80%, #31DAFF 90%);
  }

#stripes.v1{
  background-image: linear-gradient(330deg, #31FFF5 0%, #31FFC5 5%, #00D1FF 80%, #31DAFF 90%);
}

#stripes.v2{
  background-image: linear-gradient(330deg, #31FFF5 0%, #31FFC5 30%, #00D1FF 90%, #31DAFF 100%);
  transform: skewX(0deg);
  height: 330px;
}

#stripes.v2 :nth-child(1),
#stripes.v2 :nth-child(2),
#stripes.v2 :nth-child(3),
#stripes.v2 :nth-child(4),
#stripes.v2 :nth-child(5){
  display: none;
}

#stripes.v2 :nth-child(3){
  background-image: linear-gradient(90deg, #FFFFFF -30%, rgba(113, 106, 255, 0) 100%);
  height: 100%;
  width: 20%;
}
#stripes.v2 :nth-child(4){
  background-image: -webkit-linear-gradient(left, rgba(176,48,255,0.00) 0%, #FFFFFF 130%);
  height: 100%;
  width: 20%;
}


#stripes span {
    height: 40px;
    z-index: 0;
    position: relative;
    display: block;
    position: absolute;
}

#stripes :nth-child(1) {
    width: 50%;
    left: 50%;
    top: 40px;
    background: #31DAFF;
}



@media (min-width:670px) {
    #stripes span {
        height: 150px
    }

    #stripes :nth-child(1) {
        top: 0;
    }

}

@media (min-width:880px) {
    #stripes span {
        height: 190px
    }


    #stripes :nth-child(1) {
        width: 100%;
        left: 0;
        background: #31DAFF;
    }

    #stripes :nth-child(2) {
        width: 13.33333%;
        top: 380px;
        right: 0;
        background: #805CFF;
    }
    #stripes.v1 :nth-child(2) {
        width: 13.33333%;
        top: 380px;
        right: 0;
        background-color: #25F4D2;
    }

    #stripes :nth-child(4) {
        width: 25%;
        right: 0;
        bottom: -1px;
        background-image: linear-gradient(90deg, rgba(176,48,255,0.00) 19%, #FFFFFF 115%);
    }

    #stripes :nth-child(3) {
        width: 33.33333%;
        bottom: -1px;
        height: 145px;
        background-image: linear-gradient(90deg, #32DAFF 25%, rgba(113, 106, 255, 0) 100%);
    }

    #stripes :nth-child(3).white {
        background-image: linear-gradient(90deg, #FFFFFF 25%, rgba(113, 106, 255, 0) 100%);
    }
    #stripes.v2 :nth-child(4),
    #stripes.v2 :nth-child(3){
      display:block;
    }
}




.particles-bg{
  background-image: linear-gradient(0deg, #B031FF 0%, #B031FF 15%, #00D1FF 85%, #32DAFF 90%);
  width: 55%;
  z-index: -2;
  position: absolute;
  margin-top: -10vw;
  height: 124%;
  transform:  skewX(5deg) translateX(-30%);
}

#particles{
  position: absolute;
  z-index: -2;
  margin-top: -70px;
  margin-left: -60px;
}

/*Link button*/
.button{
  /* Rectangle: */
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
  height: 40px;
  padding: 10px 10px;
  /* Text */
  font-family: SourceSansPro-Semibold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.39px;
  visibility: visible;
  white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
button{
  visibility: visible;
  outline: none;
  line-height: 0;
  box-shadow: none;
  border: 2px solid #BBBBBB;
  color: #BBBBBB;
  transition: all 0.1s ease-in-out;
  line-height: 1px;
}


.button.elevated{
  box-shadow: 0 2px 4px 0 rgba(100,100,100,0.50);
}
.button.elevated:hover{
  transform: scale(1.05);
  box-shadow: 0 2px 14px 0px rgba(100,100,100,0.50);
}
/*Action and toggle buttons*/
.button-wrapper{
  visibility: hidden;
}
.button.flat{
  border: 2px solid #BBBBBB;
  color: #BBBBBB;
  fill: #BBBBBB;
}
.button svg{
  margin-right: 7px;
}

button:hover{
  color: inherit;
  border-color: inherit;
}

button.submit{
}
button.submit:hover {
  transition: all 0.2s ease-in-out;
}
button[disabled]{
  box-shadow: none; /*cannot be important because when loading*/
  color: normal;
  border-color: normal;
}
button[disabled]:hover{
    border-color: #BBBBBB;
    color: #BBBBBB;
     box-shadow: none !important;
 }

 button.active[disabled]:hover{
    color: white ;
 }

button.active, .button.active{
  color: #FFFFFF;
  fill: #FFFFFF;
  border-color: inherit;
  background-color: inherit;
}
button.glow:hover, .button.glow:hover{
box-shadow: inherit;
}
button.loading, .button.loading{
  box-shadow: inherit;
  border-color: transparent;
  border-left-color: inherit;
  background-color: transparent !important;
  animation: rotating 2s 0.25s linear infinite;
  width: 40px;
  border-radius: 100% !important;
  text-indent: -99999px;
}
.button.loading :nth-child(1){
  display: none;
}

button.succes, .button.succes{
  width: 40px;
  color: inherit;
  background-color: inherit;
  border-color: inherit;
  border-radius: 100% !important;
}
button.white{
  color: inherit;
  border-color: inherit;
  background-color: #FFFFFF;
}

table button{
  width: 100%;
}
table{
  table-layout: fixed;
}
.toggle-options{
  margin: -10px;
}
.toggle-options.glued{
  margin: 0px;
}
.toggle-options table{
  border-spacing: 10px;
  border-collapse: separate;
  width: 100%;
}
.toggle-options button{
  background-color: white;
  border-width: 1px;
  padding: 10px 3px;
}
.toggle-options.glued button{
  padding: 10px;
}
.toggle-button-handler{
  margin: -10px;
}
.toggle-button-handler button{
  border-width: 1px;
  padding: 10px 3px;
}
.toggle-button-handler table{
  border-spacing: 10px;
  border-collapse: separate;
  width: 100%;
}

.how-it-works{
  position: relative;
  display: flex;
    flex-direction: column;
    align-items: flex-end;
margin-bottom: 70px;
      margin-top: -300px;
  height: 2100px;
}

.how-it-works section{
  width: 570px;
  float: right;
}
.how-it-works section  > div{
  padding-top: 200px;
  margin-bottom: -90px;
}
.how-it-works section .how-to-title{
    display: flex;
    margin-bottom: 15px;
    margin-left: -30px;
}

.how-it-works section .how-to-title > h2{
    width: 194px;
    margin-left: 80px;
    color: #B031FF;
}
.how-it-works .circle{
  background-color: #B031FF;
  position: absolute;
}
.circle{
  font-family: SourceSansPro-Semibold;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  text-align: center;
  color: white;
  font-size: 30px;
  line-height: 60px;
}

.how-it-works section:nth-child(2){
  width: 540px;
}
.how-it-works section:nth-child(3){
  width: 510px;
}
.how-it-works section:nth-child(4){
  width: 470px;
}
.how-it-works section:nth-child(5){
  width: 440px;
}
.how-it-works section > p{
  width: 100%;
}

.card{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08), 0 4px 6px 0 rgba(60,50,94,0.11);
  border-radius: 6px;
  background: #FFFFFF;
  padding: 40px;
  z-index: 1;
  position: relative;
}
.card.user-card{
  padding: 0;
  margin-bottom: 15px;
}
.elevate{
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
}
.card h2{
  margin: 15px 0;
}
.glass{
  background: rgba(255,255,255,0.3333);
}
.icon{
  height: 68px;
}
.signup{
  margin: 0 80px;
margin-top: -30px;
z-index: 1;
position: relative;
margin-bottom: 80px;
}
.signup form{
  margin-left: 40px;
}
.signup h2{
  font-family: SourceSansPro-Regular;
  font-size: 30px;
  margin-top: 3px;
  margin-bottom: 10px;
}
.signup p{
  color: #8998AA;
  z-index: 1;
  position: relative;
}
.errors{
      margin-top: 5px;
}

.errors p{
      color: #F44336 !important;
      margin-bottom: 0;
}
p.error{
    color: #F44336 !important;
}
.progrezz-wrapper .errors{
  text-align: center;
}
.terms{
  position: relative;
  z-index: 1;
  margin-bottom: 80px;
}
.terms .subtitle{
  font-family: AvenirNext-Regular;
  font-size: 18px;
  color: #8998AA;
  line-height: 26px;
  padding-bottom: 15px;
  border-bottom: 1px solid #F6F9FC;
}
.terms h2{
font-family: SourceSansPro-Regular;
font-size: 28px;
color: #32325D;
}
.terms section{
  margin-top: 30px;
}

.terms-navigation > a{
  margin-bottom: 10px;
}
.fixed{
  position: fixed;
  top: 30px;
}

.location_ header h1{
  font-size: 50px;
    line-height: 70px;
}
.location_ header p{
  font-size: 19px;
  line-height: 32px;
}
.request-form{
}
.request-form .card{
  padding: 20px;
}
.request-form label{
font-family: AvenirNext-Medium;
font-size: 14px;
font-weight: 500;
line-height: 22px;
color: #4A4A4A;
margin-bottom: 10px;
text-transform: uppercase;
}
.request-form section{
  margin-bottom: 15px;
  margin-top: 15px;
  width: 100%;
}
.request-form section:first-child{
  margin-bottom: 15px;
  margin-top: 0px;
}
.request-form section:last-child{
  margin-top: 15px;
  margin-bottom: 0px;
}
.request-form .button:not(.submit){
  font-size: 14px;
  font-family: AvenirNext-Medium;
  text-transform: capitalize;
  height: 33px;
}

.request-form p{
  font-family: AvenirNext-Regular;
font-size: 14px;
line-height: 19px;
color: #8998aa;
margin: 0;
}

.request-columns{
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  align-items: flex-end;
}
.text-field{
  margin-top: -10px;
}
.request-form p > span {
color: #4A4A4A;
}

.info-boxes{
  padding: 100px 0;
min-height: 650px;
z-index: -1;
}
.info-boxes > .container{
  position: relative;
  z-index: 1;
}
header .info-boxes{
  padding: 0;
}
.grey{
  background: #f6f9fc;
}
.progrezz-wrapper{
    height: 100px;
    position: relative;
    margin-bottom: 100px;
}
.progrezz-wrapper .button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.progrezz-wrapper .button{
  height: 40px;

}
.progrezz{
  position: absolute;
  display: flex;
  justify-content: space-between;
    align-items: center;
    width: 66.6666%;
margin-left: 16.666666%;
transition: all 0.5s ease;
height: 100%;
}
.progrezz.done{
  width: 0;
  margin-left: 50%;
  opacity: 0;
  pointer-events: none;
}

.progrezz.done .circle{
}

.progrezz > div{
width: 100%;
}
.progrezz .circle{
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 22px;
  transition: all 0.3s;
}
.progrezz > .circle:first-child{
  margin-left: -25px;
}
.progrezz > .circle:last-child{
  margin-right: -25px;
}
.progrezz .ztep:not(.done){
  opacity: 0.2;
}
.circle > .checkmark{
  height: 20px;
margin-top: -5px;
}

.center{
  display: flex;
  justify-content: center;
}

.notification{
transform: translateY(-15px);
}

.notification > div{
  background-color: rgba(0,0,0,0.1);
    border-radius: 30px;
    padding: 0 10px;
}

.context-actions{
  width: 280px;
}
.context-actions button{
  width: 100%;
  margin-bottom: 15px;
  pointer-events: auto;
  background: #FFFFFF;
}
.user-container{
    margin-bottom: 60px;
    margin-top: 20px;
    min-height: 400px;
}

.user-container p,
.user-container input{
  font-size: 15px !important;
}


.timeline-item {
    padding: 12px;
    min-height: 200px;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f9fc;
    background: linear-gradient(to right, rgb(246, 249, 252) 8%, #FFFFFF 18%, rgb(246, 249, 252) 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}

.background-masker {
    background: #fff;
    position: absolute;
}

/* Every thing below this is just positioning */

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
    top: 0;
    left: 40px;
    right: 0;
    height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
    top: 10px;
    left: 40px;
    height: 8px;
    width: 10px;
}

.background-masker.header-bottom {
    top: 18px;
    height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
    top: 24px;
    height: 6px;
}


.background-masker.header-right,
.background-masker.subheader-right {
    width: auto;
    left: 300px;
    right: 0;
}

.background-masker.subheader-right {
    left: 230px;
}

.background-masker.subheader-bottom {
    top: 30px;
    height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
    top: 40px;
    left: 0;
    right: 0;
    height: 6px;
}

.background-masker.content-top {
    height:20px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end{
    width: auto;
    left: 380px;
    right: 0;
    top: 60px;
    height: 8px;
}

.background-masker.content-second-line  {
    top: 68px;
}

.background-masker.content-second-end {
    left: 420px;
    top: 74px;
}

.background-masker.content-third-line {
    top: 82px;
}

.background-masker.content-third-end {
    left: 300px;
    top: 88px;
}

.offer-buttons{
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}
.offer-buttons > div{
  margin-right: 10px;
}
.offer-card button{
  width: 150px;
}
.offer-price{
  font-size: 18px;
  line-height: 26px;
  color: #4A4A4A;
}
.event-header-content, .user-header-content{
  height: 180px;
}
.event-header-content{
  padding: 0;
}
.back-button{
  position: absolute;
  bottom: 10px;
  left: 0;
}

.empty-page-message{
   min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #8998AA;
}
.empty-page-message img{
  margin: 40px;
}

.pay-form > div{
  max-width: 350px;
}
.payout-form button,
.pay-form button,
.pay-form .button-wrapper{
  width: 100%;
}

.payout-form .text-field,
.pay-form .text-field{
  margin-top: 0;
}

.mobileActions{
  display: none;
}

/* Mobile */
@media only screen and (max-device-width: 480px) {
  h1,
  .location_ header h1 {
    font-size: 40px;
    line-height: 55px;
  }

  .container{
    display: block;
    width: 100%;
  }

  .row{
    margin: 0;
    flex-direction: column;
  }

  .col-md-6{
    padding: 0 20px;
  }

  .location_ header .col-md-6:first-of-type{
    margin-bottom: 30px;
  }

  .mobileActions{
    display: block;
  }
  .mobileActions .context-actions{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .user-card-fact{
    text-align: left;
  }
  #stripes{
    height: 100%;
  }
  header{
    padding-top: 90px;
    height: 100%;
    position: relative;
  }
  .user-header{
    padding-top: 80px;
  }
  .card{
    padding: 30px;
  }
  .nav-container {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .navigation{
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
  }

  .nav-container .logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    }

  .main-menu li,
  .main-menu li:last-child{
    text-align: center;
    margin: 0;
  }
  .main-menu,
  .user-card-wrapper,
  .userNavigation,
  .header-divider
  {
    display: none !important;
  }
  .request-columns{
    display: block;
    margin: 30px 5px;
  }
  .request-columns .card{
    margin-bottom: 100px;
  }

  .progrezz-wrapper{
    height: 1255px;
    width: 100%;
    position: absolute;
    /* margin-bottom: 100px; */
    top: -1280px;
  }
  .progrezz{
    background-image: url('../assets/dot_vertical.svg') !important;
    background-repeat: repeat-y !important;
    background-position: center;
    flex-direction: column;
  }
  .progrezz .circle:first-child,
  .progrezz .circle:last-child{
    margin: 0;
  }
  .progrezz > .circle:nth-child(1)
  {
    margin-top: 25px;
  }
  .progrezz > .circle:nth-child(2)
  {
    margin-top: -30px;
  }

.progrezz-wrapper .button-wrapper{
      align-items: flex-end;
}

.info-boxes {
    padding: 30px 0;
}
.info-boxes .card {
    margin-bottom: 30px;
}
#preFooter{
  height: 280px;
}
#preFooter .action-buttons{
  margin-left: -15px;
  justify-content: flex-start;
}
#preFooter .action-title{
  padding: 0 20px;
}
.footer-text{
  display: block;
}
.footer-columns{
  display: block;
}
.footer-columns > div{
  margin-bottom: 30px;
}
footer{
  padding: 30px 0 30px;
}
.mobileMenuButton{
  display: inline-block;
}
.user-header{
  position: relative;
  height: auto;
  padding-bottom: 20px;
  overflow: hidden;
}
.user-header-content{
  height: auto;
}
.user-header.fixed{
  top: 0px;
  position:relative;
}
.user-header.fixed + div{
  margin-top: 20px;
}
.user-container{
  margin: 20px 0px;
}
.notification{
  transform: none;
}
.signup{
  margin: 0 20px;
      margin-bottom: 80px;
}
.location_ header .card {
      margin-bottom: 60px;
}
table td{
  display: block;
}
}


.popup .card{
  box-shadow: none;
  padding: 0px;
}
