@import "./nouislider.css";
@import "./fonts.css";

html{
overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-family: roboto;
  color: #707070;
   -webkit-font-smoothing: antialiased;
}

header{
  height: 740px;
  padding-top: 140px;
  color: #FFFFFF;
}

footer{
    border-top: 2px solid rgba(207,215,223,.25);
    padding: 65px 0 55px;
    color: #8898aa;
    line-height: 30px;
    font-size: 15px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1{
  font-family: 'Ostrich Sans';
  font-style: italic;
  font-size: 60px;
  letter-spacing: 1px;
  font-weight: 900;
}
h2{
  font-family: SourceSansPro-Regular;
  font-size: 42px;
  margin-left: -3px;
  margin-bottom: 15px;
}
h4{
  font-family: SourceSansPro-Semibold;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .025em;
  margin: 0 0 5px;
}
p{
  font-family: SourceSansPro-Regular;
  font-size: 17px;
  letter-spacing: 0.41px;
  line-height: 28px;
}
a:hover{
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

li{
  text-align: -webkit-match-parent;
}

.container{
  width: 990px;
}

.nav-container{
  display: flex;
align-items: center;
flex-direction: column;
    position: relative;
width: 990px;
margin: auto;
}

.navigation{
     z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
      height: 80px;
      align-items: center;
      position: absolute;
    width: inherit;
}

.main-menu{
   list-style-type: none;
    padding: 0;
    float: right;
    display: flex;
    margin: 0px;
    height: 80px;
align-items: center;
}

.main-menu li{
    text-align: right;
    margin-left: 30px;
    position: relative;
}

.main-menu li:last-child{
  margin-left: 30px;
}

.main-menu a{
  cursor: pointer;
  color: white;
  /* Login: */
  font-family: "SourceSansPro-Semibold";
  font-size: 17px;
  color: #FFFFFF;
  letter-spacing: 0.3px;
}

.main-menu a:hover{
}

.copyright{
  color: #CFD7DF;
}

.footer-columns{
  display: flex;
}
.footer-columns > div{
  width: 150px;
}

footer a{
font-family: SourceSansPro-Regular;
font-size: 15px;
color: #8998AA;
letter-spacing: 0.75px;
margin: auto;
}
footer .social a{
  font-family: SourceSansPro-Bold;
}
footer h4{
  line-height: 30px;
}
footer a:hover{
color:  #32325D !important;
fill: #32325D !important;
cursor: pointer;
}
footer .social svg{
  margin-right: 7px;
  margin-bottom: -1px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.fadeIn-enter {
  opacity: 0.01;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeIn-leave {
  opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


form ol {
  counter-reset: item;
  margin-left:-40px;
}

 form li {
  display: block;
  margin-bottom: 2em;
  font-weight: bold;
  font-weight: 300;
  font-size: 30px;
}

 form li:before {
   font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  content: counter(item) " → ";
  counter-increment: item;
  margin-left: -2.5em;
  font-weight: bold !important;
  font-size: 14px;}


  nav  a:hover{
    text-decoration: none;
  }

  a:focus{
    text-decoration: none;
  }

  nav borderHover a:hover{
    border-style: solid;
    border-width: 2px !important;
    border-color: black !important;
    border-radius: 6px;
  }

  .no-padding{
    padding: 0px !important;
  }


  /**
   * fixed menu on front page
   */
  div.fixed{
    background-color: white !important;
    border-bottom: 1px solid #eee;

  }

  nav.fixed li a{
    color: black !important;
    border-color: black !important;
  }

  nav.fixed li button{
    color: black !important;
    border-color: black !important;
  }


  input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{
    visibility: hidden !important;
}

input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type="file"] + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

input[type="file"] + label * {
	pointer-events: none;
}

.loginDropDown{
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  width: 300px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.loginDropDown a{
  color: black;
  cursor: pointer;
}

.loginDropDown:after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  display: inline-block;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ffffff;
  border-left: 15px solid transparent;
  content: '';
}

.home-bg{
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.home-bg video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.dark-overlay{
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
  }

  .hero-text{
    color: white;
    font-size: 24px;
    line-height: 52px;
    font-weight: 300;
    text-shadow: 2px 2px 24px #000;
  }

  .hero-text span{
    font-weight: bold;
    font-size: 42px;
  }


@media screen and (max-width: 991px) {
  .request-card{
    width: 100% !important;
    margin-top: 20px;
  }
}



.first-card {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 0.8s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.8s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.8s;
}

.second-card {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 1s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 1s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}
.third-card {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 1.2s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 1.2s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1.2s;
}

@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-100px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(-100px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropHeader {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes fadeBlack {
    0% {
        background-color: rgba(0,0,0,0);

    }
    100% {
      background-color: rgba(0,0,0,0.4);
    }
}

@keyframes growIn {
    0% {
      height: 40px;

    }
    100% {
      height: inherit;
    }
}

@keyframes grow=ut {
    0% {
      height: inherit;

    }
    100% {
      height: 40px;
    }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
    border-color: #eee;
    border-left-color: rgb(0,188,212);
    border-width: 2px;
    background-color: transparent;
    box-shadow: -10px 0px 40px -5px rgb(30,218,242)
  }
  to {
    transform: rotate(360deg);
    border-color: #eee;
    border-left-color: rgb(0,188,212);
    border-width: 2px;
    background-color: transparent;
    box-shadow: -9px 0px 40px -5px rgb(30,218,242)

  }
}

#content{

}

.collapsible{
  position: relative;
  transition: all 0.4s;
  transition-delay: overflow 0.5s;
  overflow: hidden;
  /* fix for overflow Hidden */
  margin: 0px -20px;
  padding: 0px 20px;
  /* fix for overflow Hidden */

  padding-bottom: 20px;
}

.open .collapsible{
  overflow: visible;
}

.collapsible.active{
  max-height: 1000px;
  transition-delay: 0.4s;
}


.collapsible.collapsed{
  max-height: 50px;
}


.filter-background{
  /*animationName: 'fadeBlack',
  animationIterationCount: '1',
  animationTimingFunction: 'ease-out',
  animationDuration: '0.5s',*/
  background-color: rgba(0,0,0,0.4);
  -webkit-backdrop-filter: blur(2px);
}

.user-header{
  position: relative;
  z-index: 2;
  padding-top: 200px;
  height: 360px;
  width: 100%;
}
.user-header.fixed{
  top: -290px;
  position: fixed;
}
.user-header.fixed ~ div{
  margin-top: 360px;
}

.user-header.fixed .user-card-wrapper{
    transform: translate3d(0,-50px,0);
}
.user-card-picture-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 188, 212);
  opacity: 0;
  transition: opacity 0.8s;
}
.user-header.fixed .user-card-picture-overlay{
    opacity: 1;
}
.user-header.fixed .user-header-img-overlay{
    opacity: 1;
}

.user-header-img-wrapper{
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 360px;
  width: 100%;
  z-index: -1;
}
.user-header-img-wrapper img{
  position: absolute;
      top: 55%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background-size: cover;
}
.user-header-img-overlay{
  width: 100%;
  height: 100%;
  background-color: rgb(0,188,212);
  opacity: 0;
  transition: opacity 0.8s;
}
.user-header nav{
  margin-bottom: 20px;
}

.user-name{
  color: white;
font-size: 30px;
margin-bottom: 5px;
font-weight: 100;
}
.user-location{
  color: white;
font-size: 15px;
font-weight: 100;
}
.header-divider{
  border-bottom: 2px white solid;
margin-bottom: 20px;
margin-top: 20px;
}
.user-card-wrapper{
  position: absolute;
  width: 100%;
  z-index: 1;
  pointer-events: none;
  margin-top: -90px;
  transition: transform 0.8s;
}
.user-card{
  width: 300px;
  pointer-events: all;
}

.fixed .user-card-text{
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
}
.user-card-picture{
width: 100%;
height: 100%;
  background-position: center bottom;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
}
.fixed .user-card-picture{
  box-shadow: none;
}
.user-card-text{
  position: relative;
  z-index: 0;
  background: white;
  transition: transform 0.5s, opacity 0.5s;

      padding: 20px;
        color: #707070;
        box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;

}
.user-card-text.hide{
  transition: transform 0.5s, opacity 0.5s;
  display: block !important;
  transform: translateY(-300px);
  opacity: 0;
  z-index: -1;
}
.event-card-text{
        color: #707070;
}

.user-card-text p,
.event-card-text p{
      text-transform: uppercase;
      font-weight: 500;
      line-height: 20px;
}
.user-card-info,
.event-card-info{
  border-bottom: 2px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 2px solid #eee;
}
.user-card-fact,
.event-card-fact{
    display: flex;
    justify-content: space-between;
}
.user-card-fact p,
.event-card-fact p{
    font-weight: 200;
}
.user-card-fact:last-child p,
.event-card-fact:last-child p{
    margin-bottom: 0;
}
.user-card-about,
.event-card-about,
.event-card-status{
  margin-bottom: 20px;
  line-height: 25px;
  font-weight: 100;
}
.user-card-genres,
.event-card-genres{
      line-height: 25px;
      font-weight: 100;
}
.navLink{
  position: relative;
}
.userNavigation .navLink.active:after {
  transform: translateX(-50%);
}
.userNavigation .navLink:after{
  position: absolute;
  top:  35px;
  left: 50%;
  display: inline-block;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgb(251, 251, 251);
  border-left: 15px solid transparent;
  content: '';
  transform: translateX(-100vw);
}

.review-card-info{
  padding-top: 20px;
  border-bottom: 2px solid #eee;
  border-top: 2px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.review-card-fact, .pay-fact{
    display: flex;
    justify-content: space-between;
}
.pay-form{
  display: flex;
}
.pay-info{
    width: 180px;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.pay-fact{
  border-bottom: 1px solid #eee;
  padding-top: 10px;
}
.review-card-fact p{
    font-weight: 200;
}
.review-card-fact:last-child p{
    margin-bottom: 0;
}
.action-buttons{
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}
.action-buttons > div{
  margin-right: 10px;
}
.text-element-wrapper{
margin-bottom: 50px;
}

.events{
  margin-top: 80px;
}
.event, .gig{
  min-height: 400px;
  padding: 35px 20px;
  margin-top: 40px;
  display: flex;
}

.gig > div{
  width: 100%;
}

.event-info-card-wrapper{
  width: 240px;
  position: relative;
}
.event-name{
font-size: 30px;
line-height: 30px;
margin-bottom: 5px;
font-weight: 100;
}
.event-location{
  fill: #707070;
font-size: 15px;
font-weight: 100;
}
.event-top{
  display: flex;
justify-content: space-between;
padding-bottom: 10px;
border-bottom: 2px solid #eee;
}

[disabled] .noUi-handle
{
  border: 7px solid rgb(173, 175, 175) !important;
  width: 14px !important;
  height: 14px !important;
  left: -7px;
  top: -6px;
}

.event-info-action-buttons{
  display: flex;
}

.event-info-action-buttons div{
  margin-right: 20px;
}
.event-info-action-buttons div:last-child{
  margin-right: 0px;
}

.collapsible-container .divider{
  border-bottom: 2px solid #eee;
  width: 100%;
}

.form-error{
  color: rgb(244, 67, 54);
  margin-top: 10px;
}

svg{
  overflow: visible !important;
}
.ratingStar{
  margin-left: 8px;
}
.rating svg:first-child{
  margin-left: 0px;
}
.ratingStar{
  transition: transform 0.1s ease;
  fill: #cecece ;

}
.ratingStar.active{
  fill: #1edaf2 ;
}
.ratingStar.active:active{
  transform: translateX(0px) translateY(0px) scale(1.4);
}

button{
  background-color: transparent;
}

.toggle-options button{
  background-color: white;
}

.collapsible.active  .collapsible-arrow{
   transform: rotate(180deg);
}


.offer-card{
  border: 2px solid #eee;
  padding: 20px;
}

.user-bio{
  overflow: scroll;
  max-height: 150px;
}

.lock{
float: left;
margin-right: 5px;
}

.info-popup{
  float: right;
  margin-top: 2px;
  margin-left: 5px;
  position: relative;
}
.info-popup .info{
  position: absolute;
  visibility: hidden;
  width: 140px;
  border: 1px solid #eee;
  transform: translatex(-50%);
  left: 50%;
  bottom: 30px;
  background: white;
  padding: 5px;
  text-align: center;
  z-index: 1;
}
.info-popup .info:before {
  content: '';
  bottom: 0px;
  position: absolute;
  left: 50%;
  transform:  translatex(-50%)  translatey(50%) rotate(45deg);
  width: 15px;
  height: 15px;
  /* top: -12px; */
  z-index: -1;
  background-color: white;
  box-shadow: 1px 1px 0px #eee;

}

.info-popup:hover .info{
  visibility: visible;
}



#stripes {

  position: absolute;
  z-index: -1;
  top: -20px;
    width: 100%;
    height: 760px;
    overflow: hidden;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: linear-gradient(330deg, #B031FF 0%, #B031FF 5%, #00D1FF 80%, #31DAFF 90%);
    /* Rectangle: */
    background-image:
}

#stripes span {
    height: 40px;
    z-index: 0;
    position: relative;
    display: block;
    position: absolute;
}

#stripes :nth-child(1) {
    width: 50%;
    left: 50%;
    top: 40px;
    background: #31DAFF;
}



@media (min-width:670px) {
    #stripes span {
        height: 150px
    }

    #stripes :nth-child(1) {
        top: 0;
        background: #4750ff
    }

}

@media (min-width:880px) {
    #stripes span {
        height: 190px
    }

    #stripes :nth-child(1) {
        width: 100%;
        left: 0;
        background: #31DAFF;
    }

    #stripes :nth-child(2) {
        width: 33.33333%;
        top: 380px;
        right: -16.66666%;
        background: #805CFF;
    }

    #stripes :nth-child(4) {
        width: 40%;
        right: -10%;
        bottom: -1px;
        background-image: linear-gradient(90deg, rgba(176,48,255,0.00) 19%, #FFFFFF 80%);
    }

    #stripes :nth-child(3) {
        width: 33.33333%;
        bottom: -1px;
        background-image: linear-gradient(90deg, #32DAFF 50%, rgba(113, 106, 255, 0) 100%);
    }
}

.react-datepicker__day, .react-datepicker__day-name{
  margin: 0 !important;
  width: calc(100%/7) !important;
  height: 30px;
      padding-top: 4px;
}
.react-datepicker__current-month{
 height: 30px;
}
.react-datepicker{
  width: 100% !important;
}



.particles-bg{
  background-image: linear-gradient(0deg, #B031FF 0%, #B031FF 15%, #00D1FF 85%, #32DAFF 90%);
  width: 55%;
  z-index: -2;
  position: absolute;
  margin-top: -10vw;
  height: 2500px;
  transform:  skewX(5deg) translateX(-30%);
}
