.location_user #content {
	margin: 0;
}

.location_user .user-header {
	overflow: visible;
}

.location_user .user-card-wrapper {
	z-index: 3;
}

.user-header {
	position: sticky;
}

.location_user form {
	position: relative;
}

.sticky-card-container {
	position: absolute;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding-top: 140px;
}

.sticky-card-container .row,
.sticky-card-container .container,
.sticky-card-container .col-sm-4 {
	height: 100%;
}
.sticky-card-container .user-card-wrapper {
	position: sticky;
	top: -280px;
	padding: 0;
}

@media only screen and (max-width: 480px) {
	.user-header {
		position: relative;
	}
}
